In [18]:
import pandas as pd

In [19]:
df = pd.read_csv(r'C:\Users\Johannes\Documents\Uni\Master\Tech_Labs\ws24-skillswap\DS\01_Notebooks\01_Synthetic_Data_Set\Skillswap_Data_Raw.csv')



df.head()

,First_Name,EMail,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Languages_Preferred,...,Sports,Food,Technology,Photo,Video,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,Łukasz,łukasz.sezgin@gmx.de,25,Female,Local or Remote,52.376172,13.581876,Germany,Berlin,"['German', 'Portuguese', 'Russian', 'Mandarin ...",...,NaN,NaN,NaN,NaN,NaN,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied
1,Bianca,bianca.herrmann@icloud.com,25,Male,Remote Only,52.644114,13.648641,Germany,Berlin,"['Mandarin Chinese', 'Turkish', 'Romanian', 'J...",...,NaN,NaN,NaN,17.0,NaN,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average
2,Adlan,adlan.jacobi jäckel@gmx.de,21,Female,Local or Remote,52.531250,13.125491,Germany,Berlin,['Spanish'],...,NaN,NaN,NaN,7.0,NaN,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average
3,Emilio,emilio.alemdar@web.de,28,Female,Local or Remote,52.450986,13.199572,Germany,Berlin,"['German', 'Spanish', 'Portuguese', 'Polish']",...,0.0,NaN,NaN,NaN,NaN,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied
4,Valentin,valentin.çetin@t-online.de,31,Male,Local or Remote,52.599578,13.277228,Germany,Berlin,"['Mandarin Chinese', 'Hindi', 'Turkish']",...,NaN,NaN,NaN,NaN,NaN,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average

In [20]:
# Label Data with Activity Status

# 1. Make a Column Called "Activity_Status"
df['Activity_Status'] = ""

# 2. Iterate through the rows and apply conditions
average_sum_skills = df['Sum_Skills_Off'].mean()
df['Sum_Skills_Off_ab_avg'] = df['Sum_Skills_Off'].apply(lambda x: 1 if x > average_sum_skills else 0)

for index, row in df.iterrows():
    if row['Last_Seen'] in ["Recently", "Today", "Yesterday", "Within a Week"] and \
            row['Response_Time'] in ["Within 24 hours", "Within a week"] and \
            row['Sum_Skills_Off_ab_avg'] == 1:
        df.at[index, 'Activity_Status'] = "Swapper"
    elif row['Last_Seen'] in ["Recently", "Today", "Yesterday", "Within a Week"] and \
            row['Response_Time'] in ["Within 24 hours", "Within a week"] and \
            row['Sum_Skills_Off_ab_avg'] == 0:
        df.at[index, 'Activity_Status'] = "Active User"
    elif row['Last_Seen'] == "Within a Month" or row['Response_Time'] == "Within a month":
        df.at[index, 'Activity_Status'] = "Occasional User"
    elif row['Last_Seen'] == "Over a Month Ago" or row['Response_Time'] == "More than a month":
        df.at[index, 'Activity_Status'] = "Inactive"
    else:
        df.at[index, 'Activity_Status'] = pd.NA 

df.head()

,First_Name,EMail,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Languages_Preferred,...,Technology,Photo,Video,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support,Activity_Status,Sum_Skills_Off_ab_avg
0,Łukasz,łukasz.sezgin@gmx.de,25,Female,Local or Remote,52.376172,13.581876,Germany,Berlin,"['German', 'Portuguese', 'Russian', 'Mandarin ...",...,NaN,NaN,NaN,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied,Active User,0
1,Bianca,bianca.herrmann@icloud.com,25,Male,Remote Only,52.644114,13.648641,Germany,Berlin,"['Mandarin Chinese', 'Turkish', 'Romanian', 'J...",...,NaN,17.0,NaN,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average,Inactive,1
2,Adlan,adlan.jacobi jäckel@gmx.de,21,Female,Local or Remote,52.531250,13.125491,Germany,Berlin,['Spanish'],...,NaN,7.0,NaN,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average,Active User,0
3,Emilio,emilio.alemdar@web.de,28,Female,Local or Remote,52.450986,13.199572,Germany,Berlin,"['German', 'Spanish', 'Portuguese', 'Polish']",...,NaN,NaN,NaN,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied,Occasional User,0
4,Valentin,valentin.çetin@t-online.de,31,Male,Local or Remote,52.599578,13.277228,Germany,Berlin,"['Mandarin Chinese', 'Hindi', 'Turkish']",...,NaN,NaN,NaN,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average,Swapper,1

In [21]:
# Check NA Values
empty_values = df['Activity_Status'].isna().sum()

print("Number of empty values in the 'Activity_Status' column:", empty_values)

Number of empty values in the 'Activity_Status' column: 0

In [22]:
# Count unique values
activity_status_counts = df['Activity_Status'].value_counts()

print("Count of unique values in the 'Activity_Status' column:")
print(activity_status_counts)

Count of unique values in the 'Activity_Status' column:
Activity_Status
Active User        238
Occasional User    226
Swapper            198
Inactive            88
Name: count, dtype: int64

In [12]:
df.to_csv('Skillswap_Data_Labeled.csv', index=False)