In [47]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [48]:
df1 = pd.read_csv(r'C:\Users\Johannes\Documents\Uni\Master\Tech_Labs\ws24-skillswap\DS\data\01_raw\Skillswap_Data_Raw.csv')

df1.head()

,First_Name,EMail,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Languages_Preferred,...,Technical_Skills,Social_Skills,Practical_Skills,Academic_Skills,Life_Skills,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,Łukasz,łukasz.sezgin@gmx.de,25,Female,Local or Remote,52.376172,13.581876,Germany,Berlin,"['German', 'Portuguese', 'Russian', 'Mandarin ...",...,NaN,NaN,NaN,NaN,20.0,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied
1,Bianca,bianca.herrmann@icloud.com,25,Male,Remote Only,52.644114,13.648641,Germany,Berlin,"['Mandarin Chinese', 'Turkish', 'Romanian', 'J...",...,6.0,NaN,NaN,NaN,NaN,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average
2,Adlan,adlan.jacobi jäckel@gmx.de,21,Female,Local or Remote,52.531250,13.125491,Germany,Berlin,['Spanish'],...,NaN,NaN,NaN,NaN,NaN,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average
3,Emilio,emilio.alemdar@web.de,28,Female,Local or Remote,52.450986,13.199572,Germany,Berlin,"['German', 'Spanish', 'Portuguese', 'Polish']",...,NaN,NaN,0.0,NaN,NaN,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied
4,Valentin,valentin.çetin@t-online.de,31,Male,Local or Remote,52.599578,13.277228,Germany,Berlin,"['Mandarin Chinese', 'Hindi', 'Turkish']",...,NaN,22.0,NaN,NaN,NaN,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average

In [49]:
# Prepare for encoding of categorical values
# Drop Domains to avoid redundancy towards Sum_Skills_Off
columns_to_drop = [
    'First_Name', 
    'EMail', 
    'Languages_Preferred',  
    "Professional_Skills",
    "Creative_Skills",
    "Language_Skills",
    "Technical_Skills",
    "Social_Skills",
    "Practical_Skills",
    "Academic_Skills",
    "Life_Skills"]
df2 = df1.drop(columns=columns_to_drop).copy()
df2.head()

,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Last_Seen,Response_Time,Programming_and_Software_Development_off,...,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Sum_Skills_Off,Sum_Skills_Rec,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,25,Female,Local or Remote,52.376172,13.581876,Germany,Berlin,Recently,Within a week,NaN,...,NaN,NaN,20.0,20.0,18.0,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied
1,25,Male,Remote Only,52.644114,13.648641,Germany,Berlin,Within a Week,More than a month,NaN,...,NaN,NaN,NaN,6.0,6.0,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average
2,21,Female,Local or Remote,52.531250,13.125491,Germany,Berlin,Within a Week,Within 24 hours,Novice,...,NaN,NaN,NaN,1.0,1.0,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average
3,28,Female,Local or Remote,52.450986,13.199572,Germany,Berlin,Within a Week,Within a month,NaN,...,NaN,NaN,NaN,0.0,0.0,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied
4,31,Male,Local or Remote,52.599578,13.277228,Germany,Berlin,Within a Week,Within a week,NaN,...,NaN,NaN,NaN,22.0,21.0,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average

In [50]:
df_cat = df2.select_dtypes(object)
df_num = df2.select_dtypes(np.number)

In [51]:
df_num.head()

,Age,Latitude,Longitude,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,...,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Sum_Skills_Off,Sum_Skills_Rec
0,25,52.376172,13.581876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,20.0,18.0
1,25,52.644114,13.648641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0
2,21,52.531250,13.125491,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
3,28,52.450986,13.199572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,31,52.599578,13.277228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,21.0

In [52]:
df_num2 = df_num.drop(columns=["Longitude", "Latitude"])

# Step 1: Replace NaN values with "0"
# Step 2: Convert all numeric columns to integers

df_num2 = df_num2.fillna(0)

for column in df_num2.columns:
    if pd.api.types.is_numeric_dtype(df_num2[column]):
        df_num2[column] = df_num2[column].astype(int)

In [53]:
df_num_cleaned = pd.concat([df_num[["Longitude", "Latitude"]], df_num2], axis=1)
df_num_cleaned

,Longitude,Latitude,Age,Count_Programming_and_Software_Development_off,Count_Project_Management_off,Count_Accounting_and_Finance_off,Count_Marketing_and_Advertising_off,Count_Sales_and_Customer_Service_off,Count_Human_Resources_and_Leadership_off,Count_Graphic_Design_and_Illustration_off,...,Count_Literature_and_Philosophy_off,Count_Research_Methods_and_Academic_Writing_off,Count_Academic_Reading_and_Critique_off,Count_Time_Management_and_Organization_off,Count_Stress_Management_and_Mindfulness_off,Count_Financial_Planning_and_Budgeting_off,Count_Self_Defense_and_Personal_Safety_off,Count_Healthcare_and_Nutrition_off,Sum_Skills_Off,Sum_Skills_Rec
0,13.581876,52.376172,25,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,20,20,18
1,13.648641,52.644114,25,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,6
2,13.125491,52.531250,21,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,13.199572,52.450986,28,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13.277228,52.599578,31,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,13.439620,52.629760,26,0,0,0,0,0,0,0,...,24,0,0,0,0,0,0,0,24,23
746,13.135512,52.508286,28,0,0,0,0,6,0,0,...,0,0,0,0,0,0,0,0,6,4
747,13.136291,52.479565,28,0,0,0,0,0,0,0,...,0,0,0,0,12,0,0,0,12,10
748,13.668980,52.399138,30,0,0,0,0,0,0,0,...,9,0,0,0,0,0,0,0,9,8
749,13.166545,52.436929,27,0,0,15,0,0,0,0,...,0,0,0,0,0,0,0,0,15,15

In [54]:
df_cat.head()

,Gender,Location_Preferences,Country,City,Last_Seen,Response_Time,Programming_and_Software_Development_off,Project_Management_off,Accounting_and_Finance_off,Marketing_and_Advertising_off,...,Time_Management_and_Organization_off,Stress_Management_and_Mindfulness_off,Financial_Planning_and_Budgeting_off,Self_Defense_and_Personal_Safety_off,Healthcare_and_Nutrition_off,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,Female,Local or Remote,Germany,Berlin,Recently,Within a week,NaN,NaN,NaN,NaN,...,Beginner,Intermediate,Novice,Beginner,Expert,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied
1,Male,Remote Only,Germany,Berlin,Within a Week,More than a month,NaN,NaN,NaN,NaN,...,Novice,Advanced,Advanced,Beginner,Beginner,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average
2,Female,Local or Remote,Germany,Berlin,Within a Week,Within 24 hours,Novice,Beginner,Novice,Expert,...,NaN,NaN,NaN,NaN,NaN,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average
3,Female,Local or Remote,Germany,Berlin,Within a Week,Within a month,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied
4,Male,Local or Remote,Germany,Berlin,Within a Week,Within a week,NaN,NaN,NaN,NaN,...,Expert,Novice,Intermediate,Novice,Novice,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average

In [55]:
# One-hot encoding for columns containing nomimnal categorical values
selected_columns = ['Gender', 'Location_Preferences', 'Last_Seen', 'Response_Time']
df_cat2 = df_cat[selected_columns].copy()

In [56]:
# One-hot encoding for columns containing nomimnal categorical values
df_cat2.head()

   Gender Location_Preferences      Last_Seen      Response_Time
0  Female      Local or Remote       Recently      Within a week
1    Male          Remote Only  Within a Week  More than a month
2  Female      Local or Remote  Within a Week    Within 24 hours
3  Female      Local or Remote  Within a Week     Within a month
4    Male      Local or Remote  Within a Week      Within a week

In [57]:
# One-hot encoding for columns containing nomimnal categorical values
cat_encoder = OneHotEncoder()
cat2_1hot = cat_encoder.fit_transform(df_cat2)

In [58]:
# One-hot encoding for columns containing nomimnal categorical values
cat2_1hot.toarray()

array([[0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 0., 1.]])

In [59]:
dense_array = cat2_1hot.toarray()
dense_array_int = dense_array.astype(int)
column_names = cat_encoder.get_feature_names_out()

df_cat2_1hot = pd.DataFrame(dense_array_int, columns=column_names)
df_cat2_1hot

,Gender_Diverse,Gender_Female,Gender_Male,Gender_Prefer not to say,Location_Preferences_Local Only,Location_Preferences_Local or Remote,Location_Preferences_Remote Only,Last_Seen_Over a Month Ago,Last_Seen_Recently,Last_Seen_Today,Last_Seen_Within a Month,Last_Seen_Within a Week,Last_Seen_Yesterday,Response_Time_More than a month,Response_Time_Within 24 hours,Response_Time_Within a month,Response_Time_Within a week
0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0
2,0,1,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
3,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
4,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0
746,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
747,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1
748,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1
749,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1

In [60]:
# Ordinal Encoding for columns containing ordinal categorical values
columns_to_drop = ['Country', 'City', 'Gender', 'Location_Preferences', 'Last_Seen', 'Response_Time']
df_cat3 = df_cat.drop(columns=columns_to_drop).copy()

In [61]:
df_cat3.head()

,Programming_and_Software_Development_off,Project_Management_off,Accounting_and_Finance_off,Marketing_and_Advertising_off,Sales_and_Customer_Service_off,Human_Resources_and_Leadership_off,Graphic_Design_and_Illustration_off,Photography_and_Photo_Editing_off,Music_instruments_Composition_and_Production_off,Writing_and_Editing_off,...,Time_Management_and_Organization_off,Stress_Management_and_Mindfulness_off,Financial_Planning_and_Budgeting_off,Self_Defense_and_Personal_Safety_off,Healthcare_and_Nutrition_off,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Beginner,Intermediate,Novice,Beginner,Expert,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Novice,Advanced,Advanced,Beginner,Beginner,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average
2,Novice,Beginner,Novice,Expert,Expert,Intermediate,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Expert,Novice,Intermediate,Novice,Novice,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average

In [62]:
custom_mappings = {
    'nan': 0,
    'Novice': 1,
    'Beginner': 2,
    'Intermediate': 3,
    'Advanced' : 4,
    'Expert' : 5,
}

for column in df_cat3.columns:
    if column in custom_mappings:
        df_cat3[column] = df_cat3[column].replace(custom_mappings)

In [63]:
custom_mappings = {
    np.nan: '0', 'Novice': 1, 'Beginner': 2, 'Intermediate': 3, 'Advanced' : 4, 'Expert' : 5,       
   
}

for column in df_cat3.columns:
    df_cat3[column] = df_cat3[column].replace(custom_mappings)
    
for column in df_cat3.columns:
    try:
        df_cat3[column] = df_cat3[column].astype(int)
    except ValueError:
        pass

In [64]:
custom_mappings = {
    'Very Dissatisfied': 1, 'Dissatisfied': 2, 'Neutral or Average': 3, 'Satisfied': 4, 'Very Satisfied': 5,       
   
}

for column in df_cat3.columns:
    df_cat3[column] = df_cat3[column].replace(custom_mappings)
    
for column in df_cat3.columns:
    try:
        df_cat3[column] = df_cat3[column].astype(int)
    except ValueError:
        pass

In [65]:
df_cat3.head()

,Programming_and_Software_Development_off,Project_Management_off,Accounting_and_Finance_off,Marketing_and_Advertising_off,Sales_and_Customer_Service_off,Human_Resources_and_Leadership_off,Graphic_Design_and_Illustration_off,Photography_and_Photo_Editing_off,Music_instruments_Composition_and_Production_off,Writing_and_Editing_off,...,Time_Management_and_Organization_off,Stress_Management_and_Mindfulness_off,Financial_Planning_and_Budgeting_off,Self_Defense_and_Personal_Safety_off,Healthcare_and_Nutrition_off,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,0,0,0,0,0,0,0,0,0,0,...,2,3,1,2,5,5,2,5,1,2
1,0,0,0,0,0,0,0,0,0,0,...,1,4,4,2,2,5,2,1,4,3
2,1,2,1,5,5,3,0,0,0,0,...,0,0,0,0,0,4,3,4,1,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,4,5,3,5
4,0,0,0,0,0,0,0,0,0,0,...,5,1,3,1,1,3,5,3,1,3

In [66]:
concatenated_df = pd.concat([df_cat2_1hot, df_num_cleaned, df_cat3], axis=1)

In [67]:
concatenated_df

,Gender_Diverse,Gender_Female,Gender_Male,Gender_Prefer not to say,Location_Preferences_Local Only,Location_Preferences_Local or Remote,Location_Preferences_Remote Only,Last_Seen_Over a Month Ago,Last_Seen_Recently,Last_Seen_Today,...,Time_Management_and_Organization_off,Stress_Management_and_Mindfulness_off,Financial_Planning_and_Budgeting_off,Self_Defense_and_Personal_Safety_off,Healthcare_and_Nutrition_off,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support
0,0,1,0,0,0,1,0,0,1,0,...,2,3,1,2,5,5,2,5,1,2
1,0,0,1,0,0,0,1,0,0,0,...,1,4,4,2,2,5,2,1,4,3
2,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,4,3,4,1,3
3,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,4,4,5,3,5
4,0,0,1,0,0,1,0,0,0,0,...,5,1,3,1,1,3,5,3,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,4,3,1,4,4
746,0,1,0,0,0,1,0,0,0,0,...,1,2,3,1,1,3,5,1,2,3
747,0,0,0,1,0,1,0,0,0,0,...,3,5,3,3,3,4,2,5,5,2
748,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,5,3,3,5,1
749,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,2,2,3,4,2