In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df1 = pd.read_csv(r'C:\Users\Johannes\Documents\Uni\Master\Tech_Labs\ws24-skillswap\DS\01_Notebooks\01_Synthetic_Data_Set\Skillswap_Data_Labeled.csv')

df1.head()

,First_Name,EMail,Age,Gender,Location_Preferences,Latitude,Longitude,Country,City,Languages_Preferred,...,Technology,Photo,Video,Usability,Speed_Performance,Feature_Satisfaction,Security_Satisfaction,Customer_Support,Activity_Status,Sum_Skills_Off_ab_avg
0,Łukasz,łukasz.sezgin@gmx.de,25,Female,Local or Remote,52.376172,13.581876,Germany,Berlin,"['German', 'Portuguese', 'Russian', 'Mandarin ...",...,NaN,NaN,NaN,Very Satisfied,Dissatisfied,Very Satisfied,Very Dissatisfied,Dissatisfied,Active User,0
1,Bianca,bianca.herrmann@icloud.com,25,Male,Remote Only,52.644114,13.648641,Germany,Berlin,"['Mandarin Chinese', 'Turkish', 'Romanian', 'J...",...,NaN,17.0,NaN,Very Satisfied,Dissatisfied,Very Dissatisfied,Satisfied,Neutral or Average,Inactive,1
2,Adlan,adlan.jacobi jäckel@gmx.de,21,Female,Local or Remote,52.531250,13.125491,Germany,Berlin,['Spanish'],...,NaN,7.0,NaN,Satisfied,Neutral or Average,Satisfied,Very Dissatisfied,Neutral or Average,Active User,0
3,Emilio,emilio.alemdar@web.de,28,Female,Local or Remote,52.450986,13.199572,Germany,Berlin,"['German', 'Spanish', 'Portuguese', 'Polish']",...,NaN,NaN,NaN,Satisfied,Satisfied,Very Satisfied,Neutral or Average,Very Satisfied,Occasional User,0
4,Valentin,valentin.çetin@t-online.de,31,Male,Local or Remote,52.599578,13.277228,Germany,Berlin,"['Mandarin Chinese', 'Hindi', 'Turkish']",...,NaN,NaN,NaN,Neutral or Average,Very Satisfied,Neutral or Average,Very Dissatisfied,Neutral or Average,Swapper,1

In [3]:
skill_domains = [
    "Agriculture",
    "Animal Care",
    "Art",
    "Beauty",
    "Dance",
    "Music",
    "Writing",
    "Language",
    "Health",
    "Sports",
    "Food",
    "Technology",
    "Photo",
    "Video"
]

filtered_columns = [col for col in df1.columns if col in skill_domains or col == "Sum_Skills_Off"]

filtered_df = df1[filtered_columns]
filtered_df.head()

,Sum_Skills_Off,Agriculture,Animal Care,Art,Beauty,Dance,Music,Writing,Language,Health,Sports,Food,Technology,Photo,Video
0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN
2,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN
3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,14.0,NaN,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN